.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.projects__container > article h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.projects__item {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid;
}

.projects__item-image {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.projects__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.width-image {
    width: 500px;
    height: 400px;
}