.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 2rem; 
}

.projects__container > div {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projects__container > div:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projects__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.projects__btn {
    background-color: var(--color-primary);
    color: var(--color-bg);
    transition: var(--transition);
}

.projects__btn:hover {
    color: var(--color-white);
}

.projects__item-image {
    border-radius: 2rem;
    margin: auto;
}

.projects__item h3 {
    margin: 1.2rem 0 2rem;
}

.projects__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.width-image {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1024px){
    .projects__container {
        grid-template-columns: 1fr;
    }

    .projects__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }
}

@media screen and (max-width: 600px){
    .projects__container {
     grid-template-columns: 1fr;
    }

    .projects__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
 }
